
body {
	background-color: azure;
	font-size: 0.75em;
}

h1 {
	margin: 2%;
	text-align: center;
}

/*#donorOutput, #userForm {
	margin: 1% 1% 1% 1%;
}*/

input {
	margin-right: 2%;
}

#donorOutput {
	padding-right: 1%;
	/*margin-right: 1%;*/
}



